.time-line-area {
  border-left: 2px solid #383838;
  height: 400px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 40px 30px;
}
.time-line-area div {
  position: relative;
  padding-left: 10px;
}
.time-line-area div:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 3px solid #ffda70;
  position: absolute;
  top: 10px;
  left: -35px;
}
